RaisamWindowsService/RaisamWindowsService/Web References/SejamService/SejamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoveTranDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MoveTranId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyId" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoveTranDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoveTranDetailsResult" type="tns:MoveTranDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MoveTranDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfData" />
          <s:element minOccurs="1" maxOccurs="1" name="isSuccess" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="statusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Err" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Data" nillable="true" type="tns:Data" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Data">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MoveTranId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranCompany" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TranNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MoveDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoveTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceStation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetStation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PelakNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SalonNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WagonRating" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallWebServiceRaja">
        <s:complexType />
      </s:element>
      <s:element name="CallWebServiceRajaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestServiceSoapIn">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="TestServiceSoapOut">
    <wsdl:part name="parameters" element="tns:TestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoveTranDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoveTranDetails" />
  </wsdl:message>
  <wsdl:message name="GetMoveTranDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoveTranDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="CallWebServiceRajaSoapIn">
    <wsdl:part name="parameters" element="tns:CallWebServiceRaja" />
  </wsdl:message>
  <wsdl:message name="CallWebServiceRajaSoapOut">
    <wsdl:part name="parameters" element="tns:CallWebServiceRajaResponse" />
  </wsdl:message>
  <wsdl:portType name="SejamServiceSoap">
    <wsdl:operation name="TestService">
      <wsdl:input message="tns:TestServiceSoapIn" />
      <wsdl:output message="tns:TestServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoveTranDetails">
      <wsdl:input message="tns:GetMoveTranDetailsSoapIn" />
      <wsdl:output message="tns:GetMoveTranDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallWebServiceRaja">
      <wsdl:input message="tns:CallWebServiceRajaSoapIn" />
      <wsdl:output message="tns:CallWebServiceRajaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SejamServiceSoap" type="tns:SejamServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestService">
      <soap:operation soapAction="http://tempuri.org/TestService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoveTranDetails">
      <soap:operation soapAction="http://tempuri.org/GetMoveTranDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallWebServiceRaja">
      <soap:operation soapAction="http://tempuri.org/CallWebServiceRaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SejamServiceSoap12" type="tns:SejamServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestService">
      <soap12:operation soapAction="http://tempuri.org/TestService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoveTranDetails">
      <soap12:operation soapAction="http://tempuri.org/GetMoveTranDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallWebServiceRaja">
      <soap12:operation soapAction="http://tempuri.org/CallWebServiceRaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SejamService">
    <wsdl:port name="SejamServiceSoap" binding="tns:SejamServiceSoap">
      <soap:address location="http://localhost:2328/SejamService.asmx" />
    </wsdl:port>
    <wsdl:port name="SejamServiceSoap12" binding="tns:SejamServiceSoap12">
      <soap12:address location="http://localhost:2328/SejamService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>